* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
html {
  min-height: 100vh;
  background-color: #f5f7f9;
}
#app {
  color: #858585;
  max-width: 980px;
  min-height: 80vh;
  margin: 50px auto;
  background-color: #fff;
  padding: 40px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
input {
  outline: none;
}
a {
  outline: none;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  user-select: none;
  li {
    color: #0054a6;
    font-size: 1em;
  }
  .page-item {
    margin: 0 3px;
    outline: none;    
    opacity: 0.5;
    a {
      text-decoration: none;
      outline: none;
    }
  }
  .disabled {
    a {
      cursor: default;
    }
  }
  .active {
    opacity: 1;
  }
}
@media only screen and (max-width: 980px) {
  #app {
    margin: 0;
    border-radius: 0;
    min-height: 100vh;
  }
}
@media only screen and (max-width: 780px) {
  .filters {
    .flex-column {
      label {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}